body {
    margin: 0;
    padding: 0;
    background: #bfbfbf;
}
.block {
    width: 100%;
    text-align: left;
    background: #bfbfbf;
    padding-top: 10px;
    padding-bottom: 10px;
}
.inBlock {
    width: 80%;
    margin: 10px 10% 10px 10%;
    background: linear-gradient(#a6a6a6, #5f6365);
    border-radius: 4px;
}
.inBlock:hover {
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    background: linear-gradient(#a64109, #a6310c);
}
h2 {
    color: #000000;
    padding: 10px;
}
.inBlock h2 {
    margin-left: 5%;
    font-family: 'Poiret One', sans-serif;
}
a{
    text-decoration: none;
}
