body{
    background: #a6a6a6;
}
a {
    text-decoration: none;
    color: #a64109;
}
a:hover {
    text-decoration: none;
    tab-size: 120px;
}
.item {
    background: linear-gradient(to bottom,#a6a6a6, #5f6365);
    border-radius: 3px;
    margin-top: 2%;
    text-align: left;
}
#size {
    width: auto;
    background: #a64109;
    font-size: 2em;
}